@font-face {
	font-family: "Cursive standard";
	src: url("../fonts/Cursive standard Bold.ttf");
}

body {
	margin: 10px;
}

.word-img {
	width:100%;
	height:100%;
	border-width: 1px;
}

.base {
	height: 100px;
	padding-top: 8px;
	float: left;
	margin: 10px 10px 10px 0;
	border-radius: 3em;
	font-size:50px;
	text-align: center;
	user-select: none;
	-moz-user-select:none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cursive {
	font-family: "Cursive standard";
}

.solution {
	font-size: 30px;
	float: left;
}

.vowel {
	color: blue;
}

.consonant {
	color: red;
}

.mute {
	color: grey;
}

.droppable { 
 	background-color:lightgray;
 }

.phonem {
	color: green;
	background-color: #d48989;
}

.phonem.script {
	font-size:30px;
	line-height: 80px;
}

.good {
	background-color:lightgreen;
}

.draggable {
	background-color:lightblue;
}

.sound-0 {
	background-color: lightseagreen;
}

.sound-1 {
	background-color: lightcoral;
}

.sound-2 {
	background-color: lightpink;
}

.reload {
	margin-right: 80px;
}

.toolbar {
	margin-bottom: 10px;
}