<div class="container" id="app">
  <div class="row">
    <div class="toolbar" *ngIf="isToolbarDisplayed">
      <div class="col-md-2" *ngIf="areComplexGraphemesGrouped">
        <button (click)="toggleAreComplexGraphemesDisplayed()" class="btn">{{areComplexGraphemesDisplayed ? 'Cacher phonèmes complexes' : 'Afficher phonèmes complexes'}}</button>
      </div>
      <div class="col-md-2">
        <button (click)="toggleAreMutedGraphemesDisplayed()" class="btn">{{areMutedGraphemesDisplayed ? 'Cacher muettes' : 'Afficher muettes'}}</button>
      </div>
      <div class="col-md-1" *ngIf="!isCursiveFont">
        <button (click)="toggleIsUpperCase()" class="btn">{{isUpperCase ? 'Minuscules' : 'Majuscules'}}</button>
      </div>
      <div class="col-md-1">
        <button (click)="toggleIsCursiveFont()" class="btn">{{isCursiveFont ? 'Script' : 'Cursive'}}</button>
      </div>
      <div class="col-md-2">
        <button (click)="toggleIsAlphabeticOrder()" class="btn">{{isAlphabeticOrder ? 'Voyelles en premier' : 'Ordre Alphabétique'}}</button>
      </div>
      <div class="col-md-2">
        <button (click)="toggleAreComplexGraphemesGrouped()" class="btn">{{areComplexGraphemesGrouped ? 'Dégrouper phonèmes' : 'Grouper phonèmes'}}</button>
      </div>
      <div class="col-md-1">
        <select>
          <!--@todo click event is not good but didn't find any other working for now !-->
          <option *ngFor="let word of words; let i=index"
            [value]="i"
            [selected]="i == currentWordIndex"
            (click)="setCurrentWord(i)">
            {{word.fileName}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-1 navbar-right">
        <button id="show-toolbar" class="btn" (click)="isToolbarDisplayed=!isToolbarDisplayed"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
  </div>
  <div class="row word">
    <div class="col-md-1">
      <img class="word-img" src="./img/{{currentWord.fileName}}.jpg" class="thumbnail">
    </div>

    <div *ngIf="!areComplexGraphemesGrouped">
      <div *ngFor="let wordGrapheme of currentWord.ungroupedGraphemes"
        [class.cursive]="isCursiveFont"
        [style.color]="wordGrapheme.color"
        class="col-md-1 word-letter letter droppable base"
        makeDroppable (dropped)="onDrop($event, wordGrapheme)">
        <div *ngIf="wordGrapheme.isFound">
          {{applyCase(wordGrapheme.representation)}}
        </div>
      </div>
    </div>
    <!--TODO : factorize this code-->
    <div *ngIf="areComplexGraphemesGrouped">
      <div *ngFor="let wordGrapheme of currentWord.graphemes"
        [class.cursive]="isCursiveFont"
        [style.color]="wordGrapheme.color"
        class="col-md-1 word-letter letter droppable base"
        makeDroppable (dropped)="onDrop($event, wordGrapheme)">
        <div *ngIf="wordGrapheme.isFound">
          {{applyCase(wordGrapheme.representation)}}
        </div>
      </div>
    </div>
    <div class="base col-md-1 navbar-right">
      <button (click)="setRandomCurrentWord()" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
    <div class="base col-md-2 navbar-right sol">
      <div *ngIf="!isSolutionDisplayed">
        <button (click)="isSolutionDisplayed=true" class="btn btn-primary btn-lg">?</button>
      </div>
      <div *ngIf="isSolutionDisplayed">
        <div *ngFor="let wordGrapheme of currentWord.graphemes"
          [class.cursive]="isCursiveFont"
          [style.color]="wordGrapheme.color"
          class="solution">
          {{applyCase(wordGrapheme.representation)}}
        </div>
      </div>
    </div>
  </div>
  <div class="row letters">
    <div *ngFor="let grapheme of displayedGraphemes">
      <!--@todo need to find a better way to handle background color (sound-1 for exemple) but you can't do string interpolation for classes and use the [class.] directive, seems an Angular bug !-->
      <div
        [class.cursive]="isCursiveFont"
        [class.sound-0]="grapheme.phonems.length > 1 && grapheme.currentPhonemIndex == 0"
        [class.sound-1]="grapheme.currentPhonemIndex == 1"
        [class.sound-2]="grapheme.currentPhonemIndex == 2"
        [style.color]="grapheme.color"
        (click)="grapheme.playPhonem()"
        class="col-md-1 panel-letter letter draggable base"
        [makeDraggable]="grapheme"
        >
        {{applyCase(grapheme.representation)}}
      </div>
    </div>
    <div class="col-md-1 base letter" *ngIf="areComplexGraphemesGrouped && !areComplexGraphemesDisplayed">
      <button type="button" class="btn btn-primary btn-lg" (click)="toggleGraphemeDisplay()">
        <span
        [ngClass]="isComplexGraphemesDisplayed ? 'glyphicon-arrow-left' : 'glyphicon-arrow-right'"
        class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
